@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$white : #ffffff;
$orange : #FF8C00;
$skyblue : #72CAF2;
$olivegreen : #00526D;
$textgrey : #7F8A99;
$textblack : #061138;
$poppins : "Poppins",
sans-serif;

@media(max-width: 1200px) {
    .container {
        max-width: 100% !important;
        width: 100% !important;
    }

    * {
        a {
            &:hover {}

            &.globallink {}
        }

        body {

            // Start Header
            header {
                &.scrolled {
                    .container {
                        .row {
                            .logo {
                                img {}
                            }

                            .navigation {
                                .navlink {
                                    ul {
                                        li {}
                                    }
                                }
                            }
                        }
                    }
                }

                .container {
                    .row {
                        margin: 0;

                        .logo {
                            padding: 0;

                            img {}
                        }

                        .navigation {
                            padding: 0;

                            .navlink {
                                ul {
                                    margin: 0 -25px;

                                    li {
                                        padding: 0 25px;

                                        a {
                                            &.active {}

                                            &.bookbutton {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // End Header

            // Start Banner
            .banner {
                &::before {}

                .container {
                    .text {
                        h1 {}

                        p {}
                    }
                }
            }

            // End Banner

            // Start Who We Are
            .who {
                .container {
                    .row {
                        .col-md-7 {}

                        .col-md-5 {}
                    }

                    .info {
                        .row {
                            .image {
                                img {}
                            }

                            .title {
                                padding-right: 0;

                                h6 {}

                                h2 {}

                                .video {
                                    img {}

                                    p {}
                                }
                            }

                            .para {
                                p {}

                                a {}
                            }
                        }
                    }

                    .form {
                        .title {
                            h3 {}
                        }

                        form {
                            .input {
                                label {}

                                input,
                                select {}

                                select {}
                            }

                            .submitbutton {
                                button {}
                            }
                        }
                    }
                }
            }

            // End Who We Are

            // Start Three
            .three {
                .container {
                    .row {
                        .col-md-4 {}
                    }

                    .single {
                        .row {
                            .image {
                                &::before {}

                                &::after {}

                                img {}
                            }

                            .text {
                                h4 {}

                                p {}

                                a {}
                            }
                        }
                    }
                }
            }

            // End Three

            // Start Gift Card
            .giftcard {
                .container {
                    img {}
                }
            }

            // End Gift Card

            // Start Our Thrill
            .ourthrill {
                &::before {}

                .container {
                    .title {
                        h6 {}

                        h3 {}
                    }

                    .single {

                        // background-color: #f00;
                        .image {
                            &::after {}

                            img {}
                        }

                        .content {
                            .icon {
                                img {}
                            }

                            .text {
                                h6 {}

                                h5 {}

                                a {}
                            }
                        }
                    }

                    .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
                        .swiper-pagination {
                            span {
                                &.swiper-pagination-bullet-active {}
                            }
                        }
                    }
                }
            }

            // End Our Thrill

            // Start Testimonial
            .testimonial {
                .title {
                    h6 {}

                    h3 {}
                }

                .single {
                    .row {
                        .image {
                            img {}
                        }

                        .text {
                            .rating {
                                &::before {}

                                p {
                                    svg {}
                                }
                            }

                            h5 {}

                            h6 {
                                &::before {}
                            }

                            p {}
                        }
                    }
                }

                .swiper.testimonialSwiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
                    .swiper-pagination {
                        span {
                            &.swiper-pagination-bullet-active {}
                        }
                    }
                }
            }

            // End Testimonial

            // Start Footer
            footer {
                .container {
                    .row {
                        .col-md-4 {}
                    }

                    .companyinfo {
                        .logo {
                            img {}
                        }

                        .contactinfo {
                            ul {
                                li {
                                    a {
                                        img {}
                                    }
                                }
                            }
                        }

                        .sociallink {
                            ul {
                                li {
                                    a {
                                        svg {}
                                    }
                                }
                            }
                        }
                    }

                    .footerlink {
                        .title {
                            h3 {
                                &::before {}
                            }
                        }

                        .link {
                            ul {
                                li {
                                    a {
                                        &::before {}
                                    }
                                }
                            }
                        }

                        .instagram {
                            .row {
                                .col-md-3 {}
                            }
                        }
                    }
                }

                .copyright {
                    .container {
                        p {}
                    }
                }
            }

            // End Footer
        }
    }
}

@media(max-width: 1024px) {
    * {
        a {
            &:hover {}

            &.globallink {}
        }

        body {

            // Start Header
            header {
                padding: 10px 0;
                &.scrolled {
                    .container {
                        .row {
                            .logo {
                                img {
                                    width: 70px;
                                }
                            }

                            .navigation {
                                .phonediv{
                                    button{
                                    }
                                    .bookbuttonphone{
                                        display: none;
                                    }
                                }
                                .navlink {
                                    top: 82.54px;
                                    ul {
                                        li {}
                                    }
                                }
                            }
                        }
                    }
                }
                &.navopened{
                    background-color: $olivegreen;
                    .container{
                        .row{
                            .navigation{
                                .phonediv{
                                    button{
                                        svg{
                                            &:first-child{
                                                display: none;
                                            }
                                            &:last-child{
                                                display: block;
                                            }
                                        }
                                    }
                                }
                                .navlink{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                .container {
                    .row {
                        .logo {
                            img {}
                        }

                        .navigation {
                            .phonediv{
                                display: flex;
                                vertical-align: middle;
                                align-items: center;
                                justify-content: right;

                                a{
                                    display: none;
                                    width: 149.57px;
                                    height: 42px;
                                    vertical-align: middle;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: transparent;
                                    // margin-left: 285.87px;
                                    color: $white;
                                    border-radius: 5px;
                                    margin-right: 12px;
                                    font-family: $poppins;
                                    border: 3px solid $orange;
                                    color: $orange;
                                }
                                button{
                                    display: block;
                                    background-color: $orange;
                                    color: $white;
                                    display: flex;
                                    vertical-align: middle;
                                    align-items: center;
                                    justify-content: center;
                                    height: 41.6px;
                                    svg{
                                        &:first-child{
                                            display: block;
                                        }
                                        &:last-child{
                                            display: none;
                                        }
                                    }
                                }
                            }
                            .navlink {
                                position: fixed;
                                top: 109.37px;
                                left: 0;
                                width: 0%;
                                height: 100%;
                                overflow: hidden;
                                background-color: $olivegreen;
                                ul {
                                    display: block;
                                    padding: 20px;
                                    li {
                                        margin-bottom: 24px;
                                        a {
                                            &.active {}

                                            &.bookbutton {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // End Header

            // Start Banner
            .banner {
                &::before {}

                .container {
                    .text {
                        h1 {}

                        p {}
                    }
                }
            }

            // End Banner

            // Start Who We Are
            .who {
                padding: 50px 0;

                .container {
                    .row {
                        .col-md-7 {}

                        .col-md-5 {}
                    }

                    .info {
                        .row {
                            .image {
                                width: 100%;
                                margin-bottom: 24px;

                                img {}
                            }

                            .title {
                                width: 100%;

                                h6 {}

                                h2 {
                                    width: initial;
                                }

                                .video {
                                    img {}

                                    p {}
                                }
                            }

                            .para {
                                p {}

                                a {}
                            }
                        }
                    }

                    .form {
                        .title {
                            h3 {}
                        }

                        form {
                            .input {
                                label {}

                                input,
                                select {}

                                select {}
                            }

                            .submitbutton {
                                button {}
                            }
                        }
                    }
                }
            }

            // End Who We Are

            // Start Three
            .three {
                .container {
                    .row {
                        .col-md-4 {}
                    }

                    .single {
                        .row {
                            .image {
                                &::before {}

                                &::after {}

                                img {}
                            }

                            .text {
                                h4 {}

                                p {}

                                a {}
                            }
                        }
                    }
                }
            }

            // End Three

            // Start Gift Card
            .giftcard {
                .container {
                    img {}
                }
            }

            // End Gift Card

            // Start Our Thrill
            .ourthrill {
                &::before {}

                .container {
                    .title {
                        h6 {}

                        h3 {}
                    }

                    .single {

                        // background-color: #f00;
                        .image {
                            &::after {
                                top: 77%;
                            }

                            img {}
                        }

                        .content {
                            .icon {
                                img {}
                            }

                            .text {
                                h6 {}

                                h5 {}

                                a {}
                            }
                        }
                    }

                    .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
                        .swiper-pagination {
                            span {
                                &.swiper-pagination-bullet-active {}
                            }
                        }
                    }
                }
            }

            // End Our Thrill

            // Start Testimonial
            .testimonial {
                .title {
                    h6 {}

                    h3 {}
                }

                .single {
                    .row {
                        .image {
                            img {}
                        }

                        .text {
                            .rating {
                                &::before {}

                                p {
                                    svg {}
                                }
                            }

                            h5 {}

                            h6 {
                                &::before {}
                            }

                            p {}
                        }
                    }
                }

                .swiper.testimonialSwiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
                    .swiper-pagination {
                        span {
                            &.swiper-pagination-bullet-active {}
                        }
                    }
                }
            }

            // End Testimonial

            // Start Footer
            footer {
                .container {
                    .row {
                        .col-md-4 {}
                    }

                    .companyinfo {
                        .logo {
                            img {}
                        }

                        .contactinfo {
                            ul {
                                li {
                                    a {
                                        img {}
                                    }
                                }
                            }
                        }

                        .sociallink {
                            ul {
                                li {
                                    a {
                                        svg {}
                                    }
                                }
                            }
                        }
                    }

                    .footerlink {
                        .title {
                            h3 {
                                &::before {}
                            }
                        }

                        .link {
                            ul {
                                li {
                                    a {
                                        &::before {}
                                    }
                                }
                            }
                        }

                        .instagram {
                            .row {
                                & > div {

                                }
                            }
                        }
                    }
                }

                .copyright {
                    .container {
                        p {}
                    }
                }
            }

            // End Footer
        }
    }
}

@media(max-width: 768px) {
    * {
        a {
            &:hover {
            }
            &.globallink {
            }
        }

        body {

            // Start Header
            header {
                &.scrolled {
                    .container {
                        .row {
                            .logo {
                                img {}
                            }

                            .navigation {
                                .navlink {
                                    ul {
                                        li {}
                                    }
                                }
                            }
                        }
                    }
                }

                .container {
                    .row {
                        .logo {
                            img {}
                        }

                        .navigation {
                            .navlink {
                                ul {
                                    li {
                                        a {
                                            &.active {}

                                            &.bookbutton {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // End Header

            // Start Banner
            .banner {
                background-position: center;
                &::before {}

                .container {
                    .text {
                        h1 {
                            font-size: 39px;
                            line-height: 51px;
                        }

                        p {}
                    }
                }
            }

            // End Banner

            // Start Who We Are
            .who {
                .container {
                    .row {
                        .col-md-7 {}

                        .col-md-5 {}
                    }

                    .info {
                        .row {
                            .image {
                                img {}
                            }

                            .title {
                                h6 {}

                                h2 {}

                                .video {
                                    margin-top: 30px;
                                    img {}

                                    p {}
                                }
                            }

                            .para {
                                p {}

                                a {}
                            }
                        }
                    }

                    .form {
                        margin-top: 50px;
                        top: 0;
                        .title {
                            h3 {}
                        }

                        form {
                            .input {
                                label {}

                                input,
                                select {}

                                select {}
                            }

                            .submitbutton {
                                button {}
                            }
                        }
                    }
                }
            }

            // End Who We Are

            // Start Three
            .three {
                padding: 100px 0;
                .container {
                    .row {
                        .col-md-4 {}
                    }

                    .single {
                        margin-bottom: 50px;
                        .row {
                            .image {
                                &::before {}

                                &::after {}

                                img {
                                    width: 100%;
                                    position: relative;
                                    z-index: 1;
                                }
                            }

                            .text {
                                h4 {}

                                p {}

                                a {}
                            }
                        }
                    }
                }
            }

            // End Three

            // Start Gift Card
            .giftcard {
                margin-top: 30px;
                .container {
                    img {}
                }
            }

            // End Gift Card

            // Start Our Thrill
            .ourthrill {
                &::before {}

                .container {
                    .title {
                        padding-bottom: 50px;
                        h6 {}

                        h3 {}
                    }

                    .single {

                        // background-color: #f00;
                        .image {
                            &::after {}

                            img {}
                        }

                        .content {
                            .icon {
                                img {}
                            }

                            .text {
                                h6 {}

                                h5 {}

                                a {}
                            }
                        }
                    }

                    .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
                        .swiper-pagination {
                            span {
                                &.swiper-pagination-bullet-active {}
                            }
                        }
                    }
                }
            }

            // End Our Thrill

            // Start Testimonial
            .testimonial {
                margin-top: 50px;
                .title {
                    margin-bottom: 50px;
                    h6 {}

                    h3 {}
                }

                .single {
                    .row {
                        .image {
                            img {}
                        }

                        .text {
                            .rating {
                                top: -25px;
                                &::before {}

                                p {
                                    svg {}
                                }
                            }

                            h5 {}

                            h6 {
                                &::before {}
                            }

                            p {}
                        }
                    }
                }

                .swiper.testimonialSwiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
                    .swiper-pagination {
                        span {
                            &.swiper-pagination-bullet-active {}
                        }
                    }
                }
            }

            // End Testimonial

            // Start Footer
            footer {
                .container {
                    .row {
                        .col-md-4 {}
                    }

                    .companyinfo {
                        margin-bottom: 50px;
                        .logo {
                            img {}
                        }

                        .contactinfo {
                            ul {
                                li {
                                    a {
                                        img {}
                                    }
                                }
                            }
                        }

                        .sociallink {
                            ul {
                                li {
                                    a {
                                        svg {}
                                    }
                                }
                            }
                        }
                    }

                    .footerlink {
                        margin-bottom: 50px;
                        .title {
                            h3 {
                                &::before {}
                            }
                        }

                        .link {
                            ul {
                                li {
                                    a {
                                        &::before {}
                                    }
                                }
                            }
                        }

                        .instagram {
                            .row {
                                .col-md-3 {}
                            }
                        }
                    }
                }

                .copyright {
                    margin-top: 0;
                    .container {
                        display: block;
                        p {
                            text-align: center;
                            &:first-child{
                                margin-bottom: 12px;
                            }
                        }
                    }
                }
            }

            // End Footer
        }
    }
}